      p{
      	color:red;
      	font-size:18px;
      }

      .listitem{
      	color:red;
      	font-size:20px;
      }

      .paragraph{
      	color:red;
      	font-size:2.5em;
      }

      #background{
      	background-color:gold;
      }

      #button{
      	width:300px;
      	height:150px;
      	color:white;
      	background-color:red;
      	border-radius:15px; 
      }

      header{
      	height:250px;
      	width:99%;
      	border:2px solid blue;
      	background-color:#B22222;
            margin-bottom:2em;
            padding-top:2em; 
      }

      footer{
      	height:250px;
      	width:99%;
      	border:2px solid blue;
      	background-color:#B22222;
      	color:black;
            margin-bottom:2em;
            padding-top:2em; 
      }

      .wrap-trivia {
      	height: 450px;
      	width: 400px;
      	border: 5px double red;
            padding:3em;
      } 

      .wrap-list {
      	height: 400px;
      	width: 450px;
      	border: 5px dashed blue;
      } 

      .wrap-text {
      	color:red;
      	font-size: 2.1em;
      } 

      #one {
      	height: 150px;
      	width: 150px;
      	background-color: red;
      	display:inline-block;
            position: absolute;
            position: fixed;
            left: 25%;
      } 

      #two {
      	height: 150px;
      	width: 150px;
      	background-color: red;
      	display:inline-block;
            position: absolute;
            z-index: 1;
            position: relative;
            top: 750px; 
      }


      #three {
      	height: 150px;
      	width: 150px;
      	background-color: red;
      	display:inline-block;
            position: absolute;
            z-index: 2;
      }

      #yay{
            height:2048px;
      }

      .navitem {
         list-style-type:none;
         display:inline;
         padding-right:1.5em;
         background-color:red; 
   }  

   #navmenu {
         width:250px;
         height:30px;
         margin:auto;
         background-color:red; 
   } 

      .navitema:hover {
         color:green;
   }
      
      .navitemb:hover {
         color:orange;
      } 
     
      .navitemc:hover {
          color:orange;
      }

      #rightside {
        float:right;
        width:35%;
      } 

      #leftside{
         width:65%;
      }

      .clearfloat{
         clear:right;
      }